
h2 {
  text-align: center;
}
.profile-col {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #16425B;
}
.notes-col,.categories-col {
  height: 100vh;
  background-color: white
}
.notes-header, .categories-header {
  padding-top: 2vh;
  height: 10vh;
}
.note {
  background-color: #D4CECE;
  height: auto;
}
.notes-header {
  background-color: #CECDCD;
}
.categories-header {
  background-color: #DCE2E1;
}
.category_list {
  background-color: #E5E5E5;
}

@media (max-width: 500px) {

}
table {
  border: 1.5px solid #584b53 !important;
}
.banner {
  background-color: #fef5ef;
  height: 600px;
  text-align: center;
  padding: 5% 10% 5% 10%;
}
#userTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#deleteForm {
  display: inline !important;
}
#comment {
  width: 100% !important;
  display: block;
}

#userTable td, #userTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#userTable tr:nth-child(even){background-color: #f2f2f2;}

#userTable tr:hover {background-color: #ddd;}
#userTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.category-item{
  background-color: #E5E5E5;
  height: 100px;
  font-size: medium;
}
.card-img img {
  border-radius: 50% !important;
}