{% extends 'base.html'%}

<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="../../static/css/index.css" />
{% endblock %}

{% block content %}
<div class="container ">
  <hr>
  <div class="row">
    <div class="col-md-2">
      <div class="profile-header">
        <h2>Profile</h2>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="">
            {% if current_user.is_authenticated %}
            <a class="btn btn-outline-primary" id="post" href="{{url_for('main.new_note')}}">Add Note</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style='margin-right:30px' data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fas fa-user"></i>&nbsp;<strong>{{current_user.username}}</strong> </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item" href="{{url_for('main.profile',name=current_user.username)}}"><i
                  class="far fa-user"></i>&nbsp; My account</a><br>
              <a class="dropdown-item" href="{{url_for('auth.logout')}}"><i class="fas fa-sign-out-alt"></i>&nbsp; Log
                out</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.login')}}" style='margin-right:30px'><i
                class="fas fa-sign-in-alt"></i>&nbsp; <strong>Log In</strong></a>
          </li>
          <li class="nav-item">
            <a style='margin-right:30px' class="nav-link" href="{{url_for('auth.signup')}}"><i
                class="fas fa-user-plus"></i></i>&nbsp; <strong>Sign Up</strong></a>
          </li>
          {%endif%}
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="notes" id="notesContainer">
        {% for note in general %}
        <div class="note">
          <h4><a href="{{url_for('main.note',id = note.id)}}">{{note.title | upper}}</a></h4>
          <h5>{{note.content}}</h5>
          <h5>Category: {{note.category}}</h5>
          <p>Noted on :<small class="text-muted mr-2"> {{note.time.strftime('%d-%m-%Y')}}</small> by <a
              href="user/{{note.user.username}}">{{note.user.username}}</a></p>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}