<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid" style="padding: 2em;">
    
    
        <div class="text-white text-center" style="background-color: skyblue;">
            <div class="py-5">

              <div class="overlay">
                <h1 class="text-center text-bold" style="color: rgb(207, 60, 158); font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; " >NOTEBOOK</h1>
                <h4 class="text-center mb-5 mt-5 pt-3 pb-5" style="font-style: italic; color: whitesmoke;">INTERATIVE NOTEBOOK <br> For use in Abstract-coders-class <br> By group two</h4>
            <div class="card card-image">
  
              <img src="/app/static/images/cover.jpeg" alt="notebook" class="img-thumbnail" width="50%" >
  
            </div>
        </div>
    </div>
  </div><br><br><br>
  <footer class="page-footer dark blue" style="padding: 2em;">
  
    <div class="footer-copyright text-center py-3">© 2021 Copyright:GroupTwo | 
        <a href="#">NoteBook</a>
    </div>
  </footer>
  </div>
  
</body>
</html>